@model IEnumerable<Educacion.Models.AlumnosCurso>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Funcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alumno.Dni)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Curso.Codigo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Funcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alumno.Dni)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Curso.Codigo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Alumno.ID,id2=item.Curso.ID }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
