@model IEnumerable<Educacion.Models.Presente>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Presente1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alumno.Dni)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Curso.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Materia.Codigo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Presente1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alumno.Dni)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Curso.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Materia.Codigo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
