@model Educacion.Models.ProfesoresCurso

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProfesoresCurso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Funcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Funcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Curso.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curso.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profesore.Apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profesore.Apellido)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
